@font-face{
   font-family: 'roboto';
   font-weight: 400;
   src: url(../fonts/Roboto-Regular.ttf);
}
@font-face{
   font-family: 'roboto';
   font-weight: 700;
   src: url(../fonts/Roboto-Bold.ttf);
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
   font-family: 'roboto';
   font-weight: 400;
}
/* Header */
.header{
   width: 1110px;
   margin: 0 auto;
   /* border: 3px solid red; */
}
.navbar{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.navbar__list{
   display: flex;
}
.navbar__logo{
   margin: 50px 0;
}
.navbar__list a{
   padding: 16px 4px;
   margin: 0 19px;
   line-height: 11px;
   color: #bab9b9;
   border-bottom: 2px solid transparent;
}
.navbar__list a:hover{
   border-bottom-color: #4581b7;
   color: #4581b7;
}
.header__img{
   width: 100%;
   height: 450px;
   margin-top: 50px;
}
.header__img img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: flex;
}
/* content */
.content{
   width: 1110px;
   min-height: 200px;
   padding: 30px 0;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}
.content__right,
.content__left{
   padding: 40px;
   background: #f0f0f0;
}
.content__left{
   width: 730px;
}
.content__right{
   width: 350px;
}
.content h2{
   font-size: 20px;
   font-weight: 700;
   color: #4581b7;
   margin-bottom: 20px;
}
.content p,
.content a{
   font-size: 16px;
   line-height: 27px;
   color: #7f7f7f;
}
.content a{
   display: flex;
   margin-top: 40px;
}
/* footer */
.footer{
   width: 1110px;
   min-height: 50px;
   background: #f0f0f0;
   padding: 40px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.footer__contact{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}
.footer__contact span{
   font-size: 16px;
   line-height: 27px;
   color: #7f7f7f;
}
.footer__contact a{
   font-size: 25px;
   font-weight: 700;
   color: #7f7f7f;
}